<div class="text-center">
    <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:bolder;">Achieves of Winston L. S. Churchill</h1>
</div>
<div class="d-flex justify-content-between">
    <div class="m-3" style=" text-shadow: 1px 1px 2px darkgray;">
        <p>
            After receiving the rank, Churchill was enrolled in Her Majesty's 4th Hussar Regiment. Perhaps it was then that he realized that a military career did not really appeal to him: "The longer I serve, the more I like to serve, but the more I am convinced that it is not for me," he wrote to his mother on August 16, 1895.
        </p>
        <p>
            In 1895, thanks to Lady Randolph's extensive connections, Churchill was sent to Cuba as a military correspondent for the Daily Graphic to cover the uprising of the local population against the Spaniards, but he continued to be in active service. Seconded to the Spanish troops, he was under fire for the first time. The newspaper published five of his articles, some of which were reprinted in the New York Times. The articles were received favorably by readers, and the fee was 25 guineas, which at that time was a very significant amount for Churchill.
        </p>
        <p>
            The Spanish government awarded him the Red Cross medal, and this gave Churchill's popularity a scandalous character, as it gave the British press a reason to doubt the correspondent's neutrality. In addition to the award and literary fame, he acquired two habits in Cuba that accompanied him throughout his life: smoking Cuban cigars and the after-dinner rest - siesta[14]. On his way back to England, Churchill visited the United States for the first time.
        </p>
    </div>
    <div class="p-3">
        <img width="250" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Winston_Churchill_1874_-_1965_ZZZ5426F.jpg/170px-Winston_Churchill_1874_-_1965_ZZZ5426F.jpg" />
    </div>
</div>
<div class="d-flex justify-content-around">
    <div class="p-3">
        <img width="250" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Churchill_gallery2.jpg/220px-Churchill_gallery2.jpg" />
    </div>
    <div class="m-3" style=" text-shadow: 1px 1px 2px darkgray;">
        <p>In October 1896, the regiment was sent to India and quartered in Bangalore. Churchill reads a lot, trying to compensate for the lack of a university education, and becomes one of the best players of the regiment's polo team. According to the reminiscences of his subordinates, he was conscientious about his officer's duties and spent a lot of time working with hussars and sergeants, but the routine of service weighed on him, twice he went on vacation to England (including for celebrations on the occasion of the 60th anniversary of the reign of Queen Victoria), traveled around India, visited Calcutta and Hyderabad.</p>
        <p>On November 15, Churchill went on a reconnaissance raid on an armored train commanded by Captain Haldane (English Haldane), an acquaintance of his from Malakand. Soon the armored train was shelled by the Boer artillery. When trying to get out of the fire at high speed in reverse, the train crashed into boulders with which the enemy blocked the way to cut off the retreat. The repair platform and two armored cars derailed, the only weapon of the immobile armored train was disabled by a direct hit.</p>
    </div>
</div>