<div class="d-flex justify-content-center">
    <div class="p-5 mt-5" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-shadow: 1px 1px 2px darkgray;">
        <p style="font-size:25px;">The most Important quot is: </p>    
    </div>

    <div class="text-end">
        <img width="510" src="https://i.ytimg.com/vi/Y6m2XclLVL4/mqdefault.jpg" />
    </div>
</div>