<div class="display-1">
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="230" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="250" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
</div>
<div class="text-center">
    <h2 style="text-shadow: 1px 1px 2px black; font-size:40px; font-family:'Adobe Hebrew';" class="mt-5 mb-5">Winston Churchill</h2>
</div>
<div class="text-end display-1">
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="220" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="270" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="260" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
    <img style="-webkit-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); -moz-box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96); box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.96);" width="240" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Sir_Winston_Churchill_-_19086236948.jpg/274px-Sir_Winston_Churchill_-_19086236948.jpg" />
</div>